In [114]:
from dataprep.data_connector import Connector

In [115]:
dc = Connector("./DataConnectorConfigs/yelp", auth_params={"access_token":"MBdBbgig-VEs1KjjtDq5DndLQFhKp0sjCj2FXUEuhPgEjniUm4CyCDYE-nO9TSKK8a3_jlIdsRHAJc9Fv7WXNeL8VITkZoDkBnJ7TPAWvKxey_Pcuyy6cWlGm3IzXnYx"})
df = dc.query("businesses", term="ramen", location="vancouver")

In [116]:
print(len(df))
df.head()

50

,rating,price,phone,name,url,latitude,longtitude,city,country,address2,address3,state,address1,zip_code
0,4.5,$$,+16046888837,Marutama Ramen,https://www.yelp.com/biz/marutama-ramen-vancou...,49.290569,-123.133395,Vancouver,CA,,,BC,780 Bidwell Street,V6G 2J6
1,4.0,$$,+16046818121,Hokkaido Ramen Santouka,https://www.yelp.com/biz/hokkaido-ramen-santou...,49.290236,-123.133811,Vancouver,CA,,,BC,1690 Robson Street,V6G 1C7
2,4.5,$$,+16045598112,Ramen Danbo,https://www.yelp.com/biz/ramen-danbo-vancouver...,49.287496,-123.128934,Vancouver,CA,,,BC,1333 Robson Street,V6E 2B1
3,4.0,$$,+16045651770,Hokkaido Ramen Santouka,https://www.yelp.com/biz/hokkaido-ramen-santou...,49.263127,-123.116892,Vancouver,CA,,None,BC,558 W Broadway,V5Z 1E9
4,4.0,$$,+16046870487,Marutama Ra-men,https://www.yelp.com/biz/marutama-ra-men-vanco...,49.278551,-123.115770,Vancouver,CA,None,,BC,270 Robson Street,V6B 0E7

In [117]:
dc = Connector("./DataConnectorConfigs/dblp")
df = dc.query("publication",q = "data_mining")

In [118]:
print(len(df))
df.head()

1000

,authors,title,venue,pages,publish year,publication type,publication url
0,"[Isabelle Bichindaritz, Petra Perner, Georg Ru...","Advances in Data Mining, 12th Industrial Confe...",[Industrial Conference on Data Mining - Worksh...,None,2012,Editorship,https://dblp.org/rec/conf/incdm/2012w
1,"[Françoise Fogelman-Soulié, Domenico Perrotta,...",Mining Massive Data Sets for Security - Advanc...,[NATO ASI Mining Massive Data Sets for Securit...,None,2008,Editorship,https://dblp.org/rec/conf/nato/2007
2,[Petra Perner],Advances in Data Mining. 11th Industrial Confe...,[Industrial Conference on Data Mining - Worksh...,None,2011,Editorship,https://dblp.org/rec/conf/incdm/2011w
3,[Petra Perner],"Advances in Data Mining, Applications in Medic...","[Industrial Conference on Data Mining, Lecture...",None,2006,Editorship,https://dblp.org/rec/conf/incdm/2006
4,"[Pablo Tamayo, Charles Berger, Marcos M. Campo...",Oracle Data Mining - Data Mining in the Databa...,[The Data Mining and Knowledge Discovery Handb...,1315-1329,2005,Parts in Books or Collections,https://dblp.org/rec/books/sp/datamining2005/T...

In [119]:
client_id = 'j5bcIQapZUhRCWqfeRlz6jDIO'
client_secret = 'Bc9KLr9csRuANgu0ImoSMR0mh7VH6l19GNwF6VJvzMOV0AXxym'

dc = Connector("./DataConnectorConfigs/twitter", auth_params={"client_id": client_id, "client_secret": client_secret})

df = dc.query("tweets", q="machine learning",returned_number = 248)

In [120]:
print(len(df))
df.head()

248

,id,created_at,text,truncated,iso_language_code,hashtags
0,1238523256224862209,Fri Mar 13 17:52:09 +0000 2020,RT @pwilton: @bengoldacre Dead right Ben - her...,False,en,[]
1,1238523241523744768,Fri Mar 13 17:52:06 +0000 2020,RT @Datascience__: Web scraping for machine le...,False,en,"[{'text': 'MachineLearning', 'indices': [78, 9..."
2,1238523208657022976,Fri Mar 13 17:51:58 +0000 2020,RT @Deep__AI: Everything you need to know abou...,False,en,"[{'text': 'Vector', 'indices': [99, 106]}, {'t..."
3,1238523205121343489,Fri Mar 13 17:51:57 +0000 2020,RT @gp_pulipaka: Free Book: #Statistics -- New...,False,en,"[{'text': 'Statistics', 'indices': [28, 39]}, ..."
4,1238523135881883648,Fri Mar 13 17:51:40 +0000 2020,RT @RedHat: With #RedHat Data Hub you can deve...,False,en,"[{'text': 'RedHat', 'indices': [17, 24]}, {'te..."

In [1]:
client_id = '9f2b33cbc59c4fb3aac9aabdbd5b8d00'
client_secret = 'ce1e42a3b39f4410897598bb70a21828'

dc = Connector("./DataConnectorConfigs/spotify", auth_params={"client_id": client_id, "client_secret": client_secret})

df = dc.query("track", q="love",returned_number = 277)

NameError: name 'Connector' is not defined

In [122]:
print(len(df))
df.head()

277

,name,album,artists,available_markets,duration_ms
0,菲林,失語者,Tanya Chua,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",259933
1,紅豆,唱遊,Faye Wong,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",256026
2,BECAUSE OF LOVE因為愛情,Stranger Under My Skin,Eason Chan,"['AE', 'AT', 'AU', 'BE', 'BH', 'CA', 'CH', 'CR...",216893
3,匆匆那年,匆匆那年,Faye Wong,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",241000
4,"給自己的情書 - ""笑忘書""廣東版",寓言,Faye Wong,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",267826